<body>

  <div class="topnav">
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
  </div>

  <div class="content">
    <h2>CSS Template</h2>
    <p>A topnav, content and a footer.</p>
  </div>

  <div class="footer">
    <p>Footer</p>
  </div>

  <mat-slide-toggle>Toggle Me</mat-slide-toggle>
  <button matButton="elevated">Basic</button>
  <button mat-raised-button color="accent">Primary Raised</button>
  <p><mat-slide-toggle>Slide me!</mat-slide-toggle></p>
<p><mat-slide-toggle labelPosition="before">...and slide me too x!</mat-slide-toggle></p>

 <div class="example-button-row">
    <button mat-stroked-button>Basic</button>
    <button mat-flat-button class="underline-button-text" color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <button mat-flat-button color="primary">Basic Primary</button>
    <button mat-flat-button color="warn">Basic Accent</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>

</body>

<router-outlet />