<mat-toolbar class="toolbar">

        <img class="toolbar-logo" src="assets/images/burl-logo.png" alt="Description of the image">

        <span>Pocket Money</span>

        <span class="spacer"></span>

        <span>{{journal}}</span>

        <button 
            mat-icon-button 
            class="example-icon favorite-icon" 
            aria-label="Example icon-button with heart icon">

            <!--mat-icon>settings</mat-icon-->

        </button>

 

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">

            <!--mat-icon>logout</mat-icon-->

        </button>

    </mat-toolbar>
