<mat-toolbar class="toolbar">

        Pocket Money

        <button 
            mat-icon-button 
            class="example-icon favorite-icon" 
            aria-label="Example icon-button with heart icon">

            <!--mat-icon>settings</mat-icon-->

        </button>

        <app-pm-button
            [title]="'Journal'",
            [execute]="journalBtn">
        </app-pm-button>

        <app-pm-button 
            [title]="'Budget'"
            [execute]="budgetBtn">
        </app-pm-button>

    </mat-toolbar>

    